In [28]:
import pandas as pd
import numpy as np

In [27]:
mask = pd.DataFrame({
    'Name': [True] * 4,
    'Age': [False, True] * 2,
    "Set": [False] * 4
})

df = pd.DataFrame({
    'Name': [1,2,3,4],
    'Age': [5,6,7,8],
    'Set': [9,10,11,12]
})

df.where(mask, -1000)

   Name   Age   Set
0     1 -1000 -1000
1     2     6 -1000
2     3 -1000 -1000
3     4     8 -1000

In [33]:
import functools

In [41]:
functools.reduce(lambda x, y: x + y, [[1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [47]:
print(df)
print(df.loc[1])

   Name  Age  Set
0     1    5    9
1     2    6   10
2     3    7   11
3     4    8   12
Name     2
Age      6
Set     10
Name: 1, dtype: int64

In [48]:
~10

-11